body{
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 10px;
}


.boton{
    background-color: rgb(76, 73, 73);
    color: green;
}

.boton:hover{
    background-color: green;
    color: white;
}

nav{
    background-color: rgb(76, 73, 73);;
    color: white;
    display: flex;
}

select{
    background-color: rgb(76, 73, 73);
    color: white;
}
