body{
    display: flex;
    gap:1rem;
    margin: 0;
}

section{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 50px;
}

#green{
    order: 3;
    background-color: #baffc9;
    height: 100vh;
    width: 20vw;
    /* width: 20%; */
}

#yellow{
    order: 1;
    background-color: #ffffba;
    height: 100vh;
    width: 30vw;
    /* width: 30%; */
}

#orange{
    order: 4;
    background-color: #ffdfba;
    height: 100vh;
    width: 50vw;
    /* width: 50%; */
}

#red{
    order: 2;
    background-color: #ffb3ba;
    height: 100vh;
    width: 20vw;
    /* width: 20%; */
}

#blue{
    order: 5;
    background-color: #bae1ff;
    height: 100vh;
    width: 20vw;
    /* width: 20%; */
}

li{
    display: flex;
    list-style: none;
    border: 1px solid white;
    background-color: white;
    text-align: justify;
    width: fit-content;
    padding: 30px;
    margin: 0 auto;
}

ul{
    display: flex;
    gap:5rem;
    flex-direction: column;
    padding: 0;
}

p{
    text-align: center;
}

#red p,#orange p {
  align-self: flex-start;
  text-align: left;
}

.erase{
    display: flex;

}
