
blockquote {
	background-color: rgba(0, 0, 0, .12);
	padding: 8px;
}

blockquote::before{
	content: open-quote;
}

blockquote::after{
	content: close-quote;
}

a {
	color: darkred;
	text-decoration: none;
}

a:hover{
	color: black;
}

a:visited{
	color: greenyellow;
}

h1 + p::first-letter {
	float: left;
	color: darkred;
	border: 3px ridge darkgoldenrod;
	padding: 16px;
	background-color: gold;
	margin: 8px;
}
